<header>
     <img id="logo" src="/resourses/img/Amakaren_logo_colors.jpg" />
     {{#if user.auth}}
        <h3>Welcome back, {{user.user.userName}}</h3>     
     {{else}}
          <h3>Welcome to AmaKaren Books</h3>
     {{/if}}
</header>
     