<div id="home-page">

    <h2>AmaKaren Books</h2>
    {{#with page}}
        {{title}}
    {{/with}}    
    <h4>The app that lets you connect to other book lovers in your area.</h4>

    <div>
        <p>
        This is the home page.  Content goes here.
        </p>
    </div>
</div>