<nav id="aside">

{{> login}}

{{#if user.auth}} 
    <ul id="nav-menu">
        {{#each menu}}
           <li><a href="/{{ pageKey }}">{{ title }}</a></li>            
        {{/each}}
    </ul>
{{/if}}   
</nav>