<body>
    {{> header}}
    {{> login}}
    {{> menu}}
    {{{> page:pageKey}}} <!-- hoping that the partial name matches with the db pageKey names and that it works here-->
    {{> footer}}
</body>

