

<div class="form-header">
  <h2 id="updateHeading">Update your account</h2>
</div>
<div id="updateForm" >
  <form action="/updateUser/" method="POST" class="form">
    <div class="form-field">
    <label for="firstNameTxt">First name:</label>
    <input type="text" class="input" id="firstNameTxt" name="firstNameTxt"/>
    </div>
  <div class="form-field">
    <label for="lastNameTxt">Last Name:</label>
    <input type="text" class="input" id="lastNameTxt" name="lastNameTxt" />
  </div>
  <div class="form-field">
    <label for="addressTxt">Address:</label>
    <input type="text" class="input" id="addressTxt" name="addressTxt" />
  </div>
  <div class="form-field">
    <label for="cityTxt">City:</label>
    <input type="text" class="input" id="cityTxt" name="cityTxt" />
  </div>
  <div class="form-field">
    <label for="provinceTxt">Province:</label>
    <input type="text" class="input" id="provinceTxt" name="provinceTxt" />
  </div>
  <div class="form-field">
    <label for="postalTxt">Postal Code:</label>
    <input type="text" class="input" id="postalTxt" name="postalTxt" />
  </div>
  <div class="form-field">
    <label for="updateEmailTxt">Email:</label>
    <input type="text" class="input" id="updateEmailTxt" name="updateEmailTxt" />
  </div>
  <div class="form-field">
    <label for="phoneTxt">Phone:</label>
    <input type="text" class="input" id="phoneTxt" name="phoneTxt" />
  </div>
    <div class="form-actions">
      <button class="btn" type="submit">Update</button>
    </div>
  </form>
</div>

