<body>    
    {{> header}}
    <div id="flexbox">
        <div id="aside">
            {{> menu}}
        </div>
        <div id="main-page">
           {{> home}}
        </div>
    </div>    
  {{> footer}}
</body>

    
    






