<body>    
    {{> header}}
    <div id="flexbox">
        <div id="aside">
            {{> menu}}
        </div>
        <div id="main-page">
            {{#with page}}{{pageKey}}{{/with}}
            <div id="partial-page"></div>
            </div>
        </div>
    </div>    
  {{> footer}}
</body>

    
    






