<div class="page-body" id="home-page">
    
    <div>
        <p id="homeP">
        "If you’re a book lover, chances are that you’ve experienced reading to be a rejuvenating activity that renews your energy and elevates your mood. Numerous book lovers have testified that reading gives them purpose, helps them persevere through difficulty and unlocks parts of themselves they didn’t even know existed. Reading makes us feel optimistically, breathlessly, tenaciously alive."</p>
        <p>By Katie Yakovleva</p>
    </div>
</div>