<div class="page-body" id="home-page">
    
    <div>
        <p style="text-align: center;">The purpose of AmaKaren Books is to bring book lovers together, to share books, and to share their book expreiences.</p>
        <br/>
        <p style="text-align: center;">You can create a new account for free and start sharing your love of books today!</p>
        <br/>
        <p style="text-align: center;">"If you’re a book lover, chances are that you’ve experienced reading to be a rejuvenating activity that renews your energy and elevates your mood. Numerous book lovers have testified that reading gives them purpose, helps them persevere through difficulty and unlocks parts of themselves they didn’t even know existed. Reading makes us feel optimistically, breathlessly, tenaciously alive." - By Katie Yakovleva</p>
    </div>
</div>