<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmaKaren Books | {{page.title}}</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js">{{!}}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">{{!}}</script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet"/>
    <link href="/resourses/css/newStyle.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" type="image/ico" href="resourses/img/favicon.ico"/>
</head>
 <body>
    <header class="section" id="header">
        {{> header}}
    </header>    
    <nav class="section" id="aside">
        {{> menu}}       
    </nav>
    <main class="section" id="pageContainer">
        {{{body}}}
    </main>
    <footer class="section" id="footer">
        {{> footer}}
    </footer>
</body>
</html>  