{{#with books}}
<h2>This is your wishlist page</h2>
<br/>
<hr>
    
    {{#each}}
    <div>
      <p>{{books.title}} by: {{books.author}}</p>    
    </div>
    {{/each}}


<p id="showMap">Find books in your area.</p>

<div id="map">
    {{! this is where the map can go.  We should see the markers for the books on the wishlist.  
    Yes, I know that's easier said than done. ;) }}
</div>
{{/with}}