html {
  background-color: rgb(69, 39, 28);
}
body {
  position: relative;
  margin: -10px 0 0 15vw;
  padding: 2vw;
  background-color: rgb(249, 235, 210);
  color: rgb(69, 39, 28);
  min-height: 96vh;
  box-shadow: -5px 0 rgb(62, 95, 126), inset 5px 0 rgb(255, 209, 77),
    inset 10px 0 rgb(229, 143, 182);
}
.section {
  position: relative;
  padding: 2vw;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

/* start of header section */

#outer-header {
  flex-direction: row;
  width: 100%;
}
#inner-header1 {
  position: relative;
  float: left;
}
#inner1 h1 {
  font-size: xx-large;
}
#logo {
  width: 150px;
  padding-left: 12px;
  margin: 12px;
}
#inner-header2 {
  display: flex;
  flex-direction: column;
}
#inner1 {
  align-self: center;
}
#inner1 h1 {
  text-align: center;
}
#inner2 {
  display: flex;
  flex-direction: column;
}
#inner2-inner {
  display: flex;
  flex-direction: row;
}
#account {
  text-align: center;
}
.account {
  text-align: center;
}
.account .input {
  width: 80%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(62, 95, 126);
  text-align: center;
}
.account .btn {
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}

/* end of header section */

#aside {
  float: left;
  flex-direction: column;
}
a {
  text-decoration: none;
  font-size: 14pt;
  color: rgb(69, 39, 28);
  font-weight: bold;
}
ul {
  list-style: none;
}
li {
  padding-bottom: 8px;
}
#pageContainer {
  padding: 2vw;
  box-shadow: 2px 2px 5px rgb(229, 143, 182);
  border-radius: 4px;
}

#footer {
  box-shadow: 2px 2px 5px rgb(62, 95, 126);
  border-radius: 4px;
  width: 50%;
  position: relative;
  left: 36vw;
  text-align: center;
}

/* STYLING FOR INDIVIDUAL PAGES */

/* HOME */

#home-page p {
  font-size: 15pt;
}

/* ACCOUNT */
#account-page {
  width: 100%;
}
#updateForm {
  width: 80%;
}
.form-field {
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  font-size: 14pt;
}
.form-field label {
  width: 50%;
  text-align: right;
  padding-right: 12px;
}
.form-field .input {
  width: 80%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(62, 95, 126);
}
.form-actions {
  display: flex;
  float: right;
}
.form-actions .btn {
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}
/* WISHLIST */

#wishlist-form .input {
  width: 80%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(62, 95, 126);
}
#wishlist-form .btn {
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}
#map {
  width: 100%;
  height: 50vh;
  box-shadow: 5px 5px 10px rgb(62, 95, 126);
}

/* AVAILABLE */

#available-form {
  display: flex;
  flex-direction: column;
}
#available-form > .input {
  width: 80%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(62, 95, 126);
}
#available-form .btn {
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}
#available-form .check {
  width: 20px;
}
#isAvailable {
  display: flex;
  flex-direction: row;
}

/* REVIEW */

#review-page {
  display: flex;
  flex-direction: column;
}
#review-form .input {
  width: 80%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(62, 95, 126);
}
#review-form .check {
  width: 20px;
  padding-bottom: 12px;
}
#review-form .btn {
  margin-top: 12px;
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}

/* MESSAGE */

.form-field {
  float: right;
  width: 100%;
  padding: 2px;
}
#message {
  width: 98%;
}
#message-page {
  padding: 12px;
}
#message-page .form-header h2,
#message-page .form-header h3 {
  text-align: center;
}
