html {
  background-color: rgb(69, 39, 28);
}
body {
  background-color: rgb(249, 235, 210);
  margin-left: 8vw;
  position: relative;
  margin-top: 10px;
  padding: 32px;
  height: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header > h3 {
  justify-self: center;
  text-align: center;
  color: rgb(69, 39, 28);
  font-size: 18pt;
  padding-right: 12px;
}
#logo {
  width: 16vw;
  padding-left: 12px;
}
#flexbox {
  display: flex;
  flex-direction: row;
}
#aside {
  flex: 1;
}
#main-page {
  flex: 3;
}

nav {
  position: relative;
  float: left;
}
ul {
  list-style: none;
}
nav li {
  padding-bottom: 12px;
}
nav a {
  text-decoration: none;
  color: rgb(69, 39, 28);
}
main {
  height: 98vh;
  margin-top: -10px;
}
main,
footer {
  margin-left: 12px;
  background-color: rgb(249, 235, 210);
  position: relative;
  padding: 12px;
}
footer {
  position: relative;
  bottom: 12px;
}

#home-page {
  position: relative;
  border: 1px solid rgb(69, 39, 28);
  box-shadow: 4px 5px rgb(69, 39, 28);
  border-radius: 3px;
}

div#div_map {
  width: 100%;
  height: 70vh;
  position: inherit;
  text-align: center;
  display: inline-block;
}
#map {
  height: 70vh;
  width: 70vh;
  /* border: 2px solid rgb(62, 95, 126); */
  right: 20px;
  top: 20px;
}
* {
  box-sizing: border-box;
}
#tableData {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  position: fixed;
}

#tableData td,
#tableData th {
  border: 1px solid #ddd;
  padding: 8px;
}

h2 {
  margin: 0 0 1em;
  font-size: 20px;
}

label {
  display: block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(69, 39, 28);
}
.input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #fff;
  font: inherit;
}
.input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
}
.form-field {
  margin-bottom: 10px;
}
.form input[type="password"],
.form input[type="text"] {
  width: 100px;
  padding: 5px;
  border: 1px solid #dddddd;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 5px;
  padding: 7px;
  background-color: rgb(249, 235, 210);
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 0 4px 5px rgb(69, 39, 28);
}
form > button {
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}
#updateForm > .form .input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
}
#updateForm > .form .form-field {
  margin-bottom: 10px;
  width: 100%;
}
#updateForm > .form input[type="password"],
#updateForm > .form input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #dddddd;
  margin-bottom: 5px;
  box-sizing: border-box;
}
#updateForm > .form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5px;
  padding: 7px;
  background-color: rgb(249, 235, 210);
  border: 1px solid rgb(69, 39, 28);
  border-radius: 3px;
  box-shadow: 0 4px 5px rgb(69, 39, 28);
}
#updateForm > .form button {
  width: 150px;
  padding: 5px;
  background-color: rgb(62, 95, 126);
  cursor: pointer;
  font-weight: bold;
  color: rgb(249, 235, 210);
}
