<header>
     <img id="logo" src="img/Amakaren_logo_colors.jpg" />
     {{#if user.auth}}
     <h2>Welcome back, {{user.user.username}}</h2>
     {{else}}
     <h2>Welcome to AmaKaren Books</h2>
     {{/if}}
</header>
     