<h2>This is the login page</h2>
<hr/>
<h3 id="logIn">Login Form</h3>
<div id="loginForm" style="visibility: hidden; height: 0;" class="login-form" >
    <form action="" method="GET">
        <input type="text" name="username" id="username" placeholder="Username" required />
        <input type="password" name="password" id="password" placeholder="Password" required />
        <input type="submit" onclick="submitForm()" />
    </form>
</div>

<div class="form-header">
    <h2 id="createHeading">Create an Account!</h2>
</div>
<div id="createForm" style="visibility: hidden; height: 0;">
    <form action="/addUser/" method="POST" class="form">
        <div class="form-field">
            <label for="txtAddUsername">Username</label>
            <input type="text" class="input" id="txtAddUsername" name="txtAddUsername" />
        </div>
        <div class="form-field">
            <label for="txtAddPassword">Password</label>
            <input type="password" class="input" id="txtAddPassword" name="txtAddPassword" />
        </div>
        <div class="form-actions">
            <button id="createAccount" class="btn" type="submit">Create!</button>
        </div>
    </form>
</div>
